.bs-sidebar.well {
    padding: 0;
    max-height:85vh;
    overflow-y: auto;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a {
    font-weight: bold;
    color: white;
    background-color: #18bc9c;
    border-right: 1px solid;
}